<mat-form-field *transloco="let t; read: translationScope;" class="w-full fuse-mat-dense" [ngClass]="readOnly?'form-field-border-none':''" [formGroup]="formGroup">
    <mat-label>{{t(translationLabel)}}</mat-label>
    <input matInput [matDatepicker]="picker1" [formControlName]="key" [readonly]="readOnly">
    <mat-datepicker-toggle *ngIf="!readOnly" matSuffix [for]="picker1" [disabled]="readOnly"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
    <mat-error *ngIf="formGroup.get(key).errors as errors" class="mb-1">
        <ng-container *transloco="let tv; read: 'validation';">
            <span *ngIf="!errors?.matDatepickerParse && errors?.required">{{tv('message.required',{field: t(translationLabel)}) }}</span>
            <span *ngIf="errors?.matDatepickerParse">{{tv('message.invalidDate') }}</span>
        </ng-container>
    </mat-error>
</mat-form-field>
