.container {
    background-color: white;
    margin: 16px;
}

.headers {
    display: flex;
    flex-direction: row;
}

.header-cell {
    display: flex;
    padding: 8px;
    font-weight: bold;
    flex: 1;
}

.body {
    display: flex;
    flex-direction: column;
}

.body-row {
    display: flex;
    flex-direction: row;
}

.body-cell {
    display: flex;
    padding: 8px;
    flex: 1;
}

//.mat-row:hover {
//  background-color: #f9f9f9;
//}

.mat-column-options {
    width: 25px;
}

.table-col-spacing {
    padding-left: 12px;
}
